.hero h1, .hero p {
    color: white; /* texte en blanc */
}

/* Faire que le body prenne toute la hauteur */
html, body {
    height: 100%;
}

/* Le conteneur principal qui contient tout le contenu */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* La partie “body” prend tout l’espace restant */
.content {
    flex: 1;
}

.card-img-cover { width:100%; height:200px; object-fit:cover; }

.fond {
  width: 100%;
  /* height: 100%; */
  /* Add your background pattern here */
  background: linear-gradient(
    -45deg,
    #00eff8,
    #afdbd1,
    #a6ddd1,
    #a6b3dd,
    #afdbd1,
    #00eff8
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}





button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #ffffff;
 z-index: 1;
 background: #000000;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #ffffff;
 z-index: -1;
 transition: all 250ms
}

button:hover {
 color: #000000;
}

button:hover::before {
 width: 100%;
}

.card-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateY(30%);
}

.card:hover .front-content p {
  opacity: 0;
}



.card2 {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card2__img {
  height: 192px;
  width: 100%;
}

.card2__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card2__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card2__avatar svg {
  width: 100px;
  height: 100px;
}

.card2__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card2__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card2__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card2__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card2__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card2__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

/* centre la carte au milieu de la page */
.center-page {
  display: flex;
  align-items: center;       /* centre verticalement */
  justify-content: center;   /* centre horizontalement */
  min-height: 60vh;          /* hauteur minimale pour le centrage vertical */
  padding: 20px;             /* espace autour sur petits écrans */
}